{% extends "dashboard.html" %}

{% block content %}
<div class="management-container">
    <h2>Add New Subject</h2>
    <form action="{{ url_for('save_subject') }}" method="POST">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="class_id">Class</label>
                <select class="form-control" id="class_id" name="class_id" required>
                    {% for class in classes %}
                        <option value="{{ class.id }}">{{ class.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="Teacher_id">Teacher</label>
                <select class="form-control" id="Teacher_id" name="Teacher_id" required>
                    {% for teacher in teachers %}
                        <option value="{{ teacher.id }}">{{ teacher.first_name }} {{ teacher.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Subject</button>
    </form>
</div>
{% endblock %}
